---
layout: "layout"
title: "AIL Standings"
---
<section id="standings" class="container content-section">
  <h1>Standings</h1>
  <p>The King Championship System (KCS) is the <strong>official</strong> rankings for the Atlanta Improv League.</p>
  <h2>Week 9</h2>
  <%= image_tag "standings/kcs.png", alt: "KCS Official Standings", title: "KCS Official Standings", class: "img-responsive" %>

  <hr/>

  <h2>Coaches Poll - 08/09/2017</h2>
  <p>The Coaches Poll is an unofficial power ranking system created by ASPN. Improv coaches around Atlanta give their Top 10 picks for the league.</p>
  <ol style="font-size: 20px">
    <li>Hip Hop Harold</li>
    <li>Red Pill Players</li>
    <li>Bouncers</li>
    <li>Last Sleepover</li>
    <li>The Tipsy Zone</li>
    <li>Pretty Much Sisters</li>
    <li>You Did This</li>
    <li>Two Scoops Please</li>
    <li>Gary Part II: Son of Gary</li>
    <li>Group Therapy</li>
  </ol>
</section>
