<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><%= image_tag 'logo-nav.png', alt: "Atlanta Improv League" %></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#">Shows</a></li>
        <li><a href="#">Teams</a></li>
        <li><a href="#">ASPN</a></li>
      </ul>
    </div>
  </div>
</div>
