<footer>
  <div class="container text-center">
    <h3>#<span class="red">ATLIL</span></h3>
    <h4><a href="http://villagecomedy.com">Village Theatre</a> | <a href="http://highwirecomedy.com">Highwire Comedy</a> | <a href="http://actionshow.tv">Action Show</a></h4>
    <h5><a href="/rules.pdf">Official Rules</a> | <a href="/schedule.pdf">Print-friendly Schedule</a></h5>
  </div>
</footer>
