<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Letter from the Commish</h2>
          <%= image_tag 'commish.jpg', alt: "Michael J. King, Commissioner", align: "right", class: "commish-pic" %>
          <p><strong>Welcome to the 2017 Atlanta Improv League season!</strong></p>
          <p>For those who don't know me, I am Michael J. King, the commissioner of this league.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac neque nisl. Cras sollicitudin odio sit amet ex pellentesque dictum vel in odio. Sed pharetra augue vitae ullamcorper lobortis. Integer ut lacus nibh. Donec porta consequat tortor, in pellentesque augue placerat vitae. Donec tincidunt ullamcorper turpis eu laoreet. Sed vehicula tortor eget sapien molestie commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris mollis rutrum leo mattis vulputate. Mauris vitae est sed elit malesuada aliquet quis at mi. Fusce ultricies dui orci, in convallis enim dapibus ac. Proin eget sapien nulla. Fusce mattis neque a nisl tincidunt auctor. Cras ultrices tellus at erat cursus porttitor. Duis luctus egestas ipsum, non hendrerit diam maximus vitae. Quisque blandit dapibus laoreet.</p>
          <p>Duis vitae quam tincidunt, rutrum nisi aliquet, placerat leo. Vestibulum in dignissim odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris tristique libero nec lacinia tempus. Vestibulum est felis, dictum vel massa vel, aliquam laoreet tortor. Cras euismod, nisl at tempus semper, nulla turpis rutrum urna, ut tincidunt tellus felis in massa. In aliquet lacus lacus, a dapibus lacus congue eget. Integer sit amet posuere dolor, et dictum magna. Duis a lacinia eros, vel semper elit.</p>
        </div>
    </div>
</section>
