---
layout: "layout"
title: "ASPN - Action Show Programming Network"
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=168063983260429";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section id="aspn" class="container content-section">
  <%= image_tag "aspn-logo.png", alt: "ASPN logo", title: "ASPN", style: "padding-bottom: 15px;", class: "img-responsive" %>
  <h1 style="display:none">ASPN</h1>
  <p><a href="https://www.facebook.com/actionshow1">Action Show's</a> ASPN (Action Show Programming Network) takes you behind the scenes of the Atlanta Improv League with original live-stream programming, including their signature show, <em>#Midweek #Battlezone</em>, and post battle analysis.</p>
  <p>Want to be part of the show? Send interview requests, videos, or whatever you'd like to <a href="mailto:aspn@actionshow.tv">aspn@actionshow.tv</a>!</p>
  <% data.aspn.each do |vid| %>
    <div class="aspn-vid">
      <div class="fb-video" data-href="<%= vid %>"  data-show-text="false">
      </div>
    </div>
    <% end %>
</section>
