---
layout: "layout"
---
<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <%= partial "/partials/upcoming_shows", locals: { limit: 9 } %>
    <h3><%= link_to "Full Schedule", "/shows" %></h3>
  </div>
</header>

  <hr/>
  <section class="prev-shows">
    <%= partial "/partials/previous_shows", locals: { limit: 9 } %>
    <h3><%= link_to "All Results", "/shows" %></h3>
  </section>
